/* estrutural */
body { 
	width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Calibri !important;
    background-image: url(../img/bggeral.jpg)!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.wrapper {
	position: relative;
	display: inline-block;
	width:1290px;
	height: auto;
	min-height: 100%;
	float: none;
	background: white;
}

header {
	position: relative;
	width:100%;
	height:140px;		
}
footer {
	background-color:#A9A9A9;
	height: 200px;
	font-family: Calibri;
	padding: 10px;
	font-size: 14px;
	color:white;
	clear:both;
}


/* HEADER AREA */
.logo {
	width: 300px;
	font-family: Calibri;
	padding:10px;
	float:left;
}
.logo img {
	float:left;
	width: 120px;
	height: auto;
	position: relative;
	
}
.nome-adac {
	display: block;
	position: relative;
	margin-top: 5px;
	color:#1C1C1C;
	font-size: 14px;
	letter-spacing:4px;
}
.maior { font-size: 23px; }
.logo-social {
	position: relative;

	width: 100%;
	height: 94px;	
}
.social-add {
	width: 120px; 
	height: 50px;
	padding-top:30px;
	position: relative;
	float: right;
}
header .menu {
	position: relative;
	width: 100%;
	height: 45px; 
	font-family: Calibri;
	font-size: 18px;
} 
header .menu a { color: #1c1c1c; }

header .menu ul {
    list-style-type: none;
    margin: 0;    
    padding: 0;
    display: block;
    width: auto;
    float:right;

}
header .menu li {
    display: block;
    float: left;    
    padding: 11px !important;
    margin-top:2px !important;

}
header .menu li:hover {
	background-color: #DCDCDC;
}
header .active {
    background-color: #DCDCDC;
    color: white;
}

/* foooter */

.footer-links, .footer-info { padding:15px; }
footer div {
	float: left;
	width: 31.75%;
	font-family: Calibri;
}
footer div iframe {
	float:right;
	width: 100%;
	position: relative;
}
footer a {
	color:white;
}

.footer-links {
	font-size: 18px;
}
.footer-tit {
	font-weight: 900;
	width: 100%;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	font-size:20px;
}
.footer-endereco {
	text-align:  center;
	clear:both;
	background-color: white;
	color:#1C1C1C ;
	width: 100%;
	margin-top:20px;


}

/* BLOG */
.blog-conteiner {
	width: 100%;	
	height: auto;
	display: block;
	position: relative;
	clear: both;
	padding: 10px;

	
}
.blog-conteiner a  { color: #FFF; }
.blog-conteiner div {
	float: left;
	display: block;
	position: relative;	
	width: 300px;
	height: 200px;
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 10px;

}

.blog-label {
	margin:0px !important;
	position: absolute !important;
	height:20px !important;    
    bottom: 0px !important;
    width: 94% !important;
	font-family: Calibri;
	padding: 10px;
	font-size: 16px;
	color:white;
	background-color: #000;
	
       
}
.blog-tit {
	position: relative;
	font-weight: 800;
	font-size: 22px;
	width: 100% !important;
	clear: both;

}
.area-blog-titulo a { color: #1c1c1c; }
.area-blog-titulo {
	font-family: Calibri;
	padding: 10px;
	font-size: 25px;
	margin-top:30px;
	margin-left:30px;
	font-weight: 700;
	display: inline-flex;

}
.area-blog-titulo img { 
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right:10px;

}


/* DESTAQUES */

.destaques {
	width: 100%;
	height: 300px;
	
}


.destaques div {

	width: 100%;
	height: 300px;
	background-size:  cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.dtk-label {
	font-family: Calibri;
	padding: 10px;
	font-size: 18px;
	color:white;
	background-color: black;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height:70px !important;
    position: absolute;
    bottom: 0px !important;
    
}
.dtk-tit {
	font-weight: 800;
	font-size: 22px;
}

/* galerias */


.area-gal {
	width: 100%;
	height: 230px;
	position: relative;

}

.area-gal .item-gal {
	position: relative;	
	width: 298px !important;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	float:left;
	margin-left: 20px;

}
.gal-label {
	width: 93.5%;
	font-family: Calibri;
	font-size: 18px;
	color:white !important;
	background-color: black;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height:40px !important;
    position: absolute;
    bottom: 0px !important;
    padding-top: 10px !important;
    padding-left: 20px;
 }
.gal-tit {
	font-weight: 800;
	font-size: 18px;
}
.gal-tit a { color:white; }

.area-galeria-titulo {
	font-family: Calibri;
	padding: 10px;
	font-size: 18px;
	margin-top:30px;
	margin-bottom:20px;
	margin-left:32px;
	font-weight: 700;

}
.area-galeria-titulo img { 
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right:10px;
}

/* NEWS */



.news-container {
	position: relative;
	width: 100%;
	height: 280px;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.item-news {
	position:relative;
	float:left;
	margin:10px;
	width: 350px;
	height: 165px;
	font-family: calibri;
	font-color:#1C1C1C;
	font-size: 15px;
	padding:10px;
	text-align: justify-all;
	border-bottom: 0.5px solid #f5f5f0;
	border-right: 0.5px solid #f5f5f0;
	padding:5px;

}
.item-news:hover {
	border-bottom: 0.7px solid #ebebe0;
	border-right: 0.7px solid #ebebe0;
	 
}
.item-news a { color: #1c1c1c; }




.item-news .tit {
	font-weight: 700;
	font-size:18px;
	clear: both;
	position: relative;

}

.item-news .tit img {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 10px;
}

.item-news .leiamais {
	position: absolute;
	bottom: 0px;
	right:0px;
	font-family: calibri;
	font-color:#1C1C1C;
	font-size: 15px;
	content: "Leia Mais...";
	margin-right: 5px; 
	margin-bottom: 5px;
}

/* OUTROS */
.texto-internas img {width: 100%;}
a {
	color: #1C1C1C;
	text-decoration: none;
}

.doe-aqui {
	height: 90px;
	margin-bottom: 10px;
}

.texto-internas {
	font-family: Calibri;
	padding: 40px;
	padding-top: 20px;
	font-size: 16px !important;
	color:#1C1C1C !important;
	float:left;
	width: 70%;
	
}
.sidebar-1 {
	padding-top: 20px !important;
	padding-left, padding-right: 10px !important;
	background-color: #F5F5DC;
	width: 18%;
	display: block;
	float: right;
}
.sidebar-1 ul {
	list-style: none !important;
	margin-bottom:20px;
	font-weight: 99;
}
.sidebar-1 li {
	list-style: none !important;
	margin-left:20px;	
	font-size: 17px;
}
.texto-internas ul {
	list-style: circle !important;
	margin:20px;
}
.texto-internas li { margin-bottom: 15px; }
.texto-internas img {	
	height: auto;
}
.fb_iframe_widget { margin-left: 30px !important; }


/** responsive para 1024 **/
@media screen and (max-width: 1024px) {
/* estrutural */
body { 
	width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Calibri !important;
    background-image: url(../img/bggeral.jpg)!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.wrapper {
	position: relative;
	display: inline-block;
	width:1024px;
	height: auto;
	min-height: 100%;
	float: none;
	background: white;
}
/* outros */
.texto-internas {
	font-family: Calibri;
	padding: 40px;
	padding-top: 20px;
	font-size: 16px !important;
	color:#1C1C1C !important;
	
}
.texto-internas img {
	height: auto;
}
.doe-aqui {
	height: 90px;	
	margin-bottom: 10px;
}
.doe-aqui input { max-width: 1024px; }
.item-gal:last-child { display:none; }
.footer-map { width: 300px; }
}

/* responsivo para 768 */
@media screen and (max-width: 1024px) {
/* estrutural */
body { 
	width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Calibri !important;
    background-image: url(../img/bggeral.jpg)!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.wrapper {
	position: relative;
	display: inline-block;
	width:768px;
	height: auto;
	min-height: 100%;
	float: none;
	background: white;
}
/* outros */
.texto-internas {
	font-family: Calibri;
	padding: 40px;
	padding-top: 20px;
	font-size: 16px !important;
	color:#1C1C1C !important;
	
}
.texto-internas img {
	
	height: auto;
}
.sidebar-1 {float: left; width: 100%;}
.doe-aqui {
	height: 90px;	
	margin-bottom: 10px;
}
.doe-aqui input { max-width: 768px; }
.item-gal:nth-child(3),.item-gal:nth-child(4) { display:none; }
.footer-map { width: 210px; }
footer { height: 250px; }
}

/** responsive para 414 **/
@media screen and (max-width: 414px) {
/* estrutural */
body { 
	width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Calibri !important;
    background-image: url(../img/bggeral.jpg)!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}
.wrapper {
	position: relative;
	display: inline-block;
	width:320px;
	height: auto;
	min-height: 100%;
	float: none;
	background: white;
}
/* outros */
.texto-internas img {	
	height: auto;
}
.sidebar-1 {float: left; width: 100%;}
.doe-aqui input { max-width: 320px; }
.doe-aqui { height: 38px; }
.news-container { display: block; }
.item-gal { float: none; display:block; margin-bottom: 10px; width: 70% !important;}
.item-news { display: none; width: 90%; }
.item-news:first-child {display: block}
footer div {float: none; width: 95%;}
footer { height: auto; }
.footer-map { width: 100% !important; }
.dtk-text { display: none; }
.menu { height: 250px !important; width:80%; text-align:left; z-index:9999; clear: both;}
footer .menu { height: auto !important; }
.menu li { float: none !important; display: block; }
.menu ul { float: left !important; }
addthis_sharing_toolbox { clear: both; }
.destaques { display: none !important; }
header {clear: both; height: auto;}
#gallery-1 .gallery-item {
    clear:left;
    margin-top: 10px;
    text-align: center;
    
}
}